.icon {
    background-color: var(--root-background-secondary);
    color: var(--root-text-light);
    text-decoration: none;

    vertical-align: middle;
    padding: 5px;

    display: flex;
    align-items: center;
}
.icon:hover {
    background-color: var(--root-background-secondary);
    filter: invert(10%);
}

mat-toolbar {
    display: flex;
    width: 100%;
    min-width: 600px;
    background-color: var(--root-background-secondary);
}
