<div class="about-body">
  <div class="about-content">
    <section>
      <h1>Sobre a aplicacão</h1>
      <article>
        <p>
          Esta aplicacão tem o propósito de converter texto no formato CSV em
          uma estrutura JSON.
        </p>
        <p>
          Todos os dados passados para o conversor são convertidos em sua
          estação, não nos dando acesso à suas informações.
        </p>
        <p>
          Cyberpunk CSV-JSON é uma aplicacão simples desenvolvida no bootcamp
          AVANADE ANGULAR DEVELOPER realizada junto a Plataforma de educação
          Digital Inovation One. Fui desafiado por
          <a
            href="https://www.linkedin.com/in/camila-ferreira-ribeiro/"
            target="_blank"
            >Camila Ribeiro</a
          >, em um dos modulos do bootcamp, a construir uma aplicação SPA
          utilizando o ANGULAR.
        </p>
      </article>
    </section>

    <section>
      <h1>Sobre o desenvolvedor</h1>
      <img
        class="avatar"
        src="https://avatars.githubusercontent.com/u/23052634?s=460&amp;u=c9b9ed9910348a4495c63100c3faecae987e2ebd&amp;v=4"
      />
      <p>
        Resolvi fazer essa aplicacão trabalhando com dados estruturados como CSV
        e como fã do game Cyberpunk 2077(apesar das criticas) decidi tentar
        fazer o tema da aplicacão baseado neste.
      </p>
      <div>
        <a href="https://www.linkedin.com/in/breno-biancardi" target="_blank">
          <img
            height="50"
            alt="Linkedin"
            src="https://raw.githubusercontent.com/devicons/devicon/master/icons/linkedin/linkedin-original.svg"
          />
        </a>
        <a href="https://github.com/brenobiancardi" target="_blank">
          <img
            height="50"
            alt="GitHub"
            src="https://raw.githubusercontent.com/devicons/devicon/master/icons/github/github-original-wordmark.svg"
          />
        </a>
      </div>
    </section>
    <section>
      <app-carousel></app-carousel>
    </section>
  </div>
</div>
