.home-body {
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;

}

.input-output {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

textarea {
  outline: none;
  border: 0;
  margin: 10px 10px 10px 10px;
  padding: 10px;
  background: #413e3e;
  color: white;
  height: 100%;
  resize: none;
  overflow: auto;
  min-height: 300px;
  min-width: 600px;
  clip-path: polygon(95% 0, 100% 10%, 100% 100%, 5% 100%, 0% 90%, 0 0);
  font-size: 16px;
}
textarea::placeholder {
  color: var(--root-background);
  opacity: 1;
}

.button-bar {
  display: flex;
  justify-content: space-around;
}

.table {
  margin-top: 20px;
  max-width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}